body {
    font-family: Helvetica, Verdana, Arial;
    background-color: #F5EDF0;
    margin: 0;
}
h1.header {
    color: #F5EDF0;
    text-align: center;
    padding: 20px 20px 20px 20px;
    margin: 0;
}

h2.header {
    color: #F5EDF0;
    padding: 5px 20px 5px 20px;
    margin: 0;
}

#divhead {
    background-color: #2D3D28;
}

#divimage {
   margin: 0;
   padding: 20px 20px 20px 20px;
}

.logos {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logosmall {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px 0px 10px 0px;
}

.links {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    padding: 20px 20px 20px 20px;
}

a:link {
    color: #F5EDF0;
}

a:visited {
    color: #F5EDF0;
}

#div404 {
    background-color: #F5EDF0;
    margin: 0;
    color: #392B58;
    text-align: center;
    padding: 200px 20px 200px 20px;
    font-size: x-large;
}

#divbottom {
    margin: 0;
    color: #F5EDF0;
    background-color: #88665D;
    text-decoration: underline;
    padding: 20px 20px 20px 20px;
}